<div *ngIf="device">
  <h2>{{ device.partNumber }} Details</h2>
  <div><span>Id: </span>{{ device.id }}</div>
  <div class="deviceForm">
    <label for="category">Category: </label>
    <input
      type="text"
      id="category"
      value="{{ device.Category!.name }}"
      READONLY
    />
    <label for="color">Color: </label>
    <input type="text" id="color" value="{{ device.color }}" READONLY />
    <label for="partNumber">Part Number: </label>
    <input
      type="text"
      id="partNumber"
      value="{{ device.partNumber }}"
      READONLY
    />
  </div>
  <button (click)="delete()">Delete</button>
</div>
