<div *ngIf="device">
  <div class="formDiv">
    <h2>{{ device.color }} {{ device.Category!.name }} Details</h2>
    <div>
      <span><strong>Id:</strong></span> {{ device.id }}
    </div>
    <label for="category">Category: </label>
    <input
      type="text"
      id="category"
      value="{{ device.Category!.name }}"
      READONLY
    />
    <label for="color">Color: </label>
    <input type="text" id="color" value="{{ device.color }}" READONLY />
    <label for="partNumber">Part Number: </label>
    <input
      type="text"
      id="partNumber"
      value="{{ device.partNumber }}"
      READONLY
    />
    <button (click)="delete()">Delete</button>
  </div>
</div>
