<h2>All Categories</h2>
<ul class="categories">
  <li
    *ngFor="let category of categories"
    [class.selected]="category === selectedCategory"
    (click)="onSelect(category)"
  >
    <span class="badge">{{ category.id }}</span> {{ category.name }}
  </li>
</ul>

<div *ngIf="selectedCategory">
  <h2>{{ selectedCategory.name }} Details</h2>
  <div><span>Id: </span>{{ selectedCategory.id }}</div>
  <div>
    <label for="name">Category Name</label>
    <input
      type="text"
      [(ngModel)]="selectedCategory.name"
      id="name"
      placeholder="name"
    />
  </div>
</div>
