/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap");
h1 {
  color: rgb(29, 122, 150);
  font-family: "Georama", sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: "Georama", sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body,
input[type="text"],
button {
  color: #333;
  font-family: "Montserrat", sans-serif;
}
/* everywhere else */
* {
  font-family: "Montserrat", sans-serif;
}
.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 50%;
}
