<ul class="itemList">
  <h2>All Devices:</h2>
  <li *ngFor="let device of devices">
    <a routerLink="/devices/{{ device.id }}">
      <span class="badge">{{ device.id }}</span
      >{{ device.color }} {{ device.Category!.name }}
    </a>
  </li>
</ul>
<div class="formDiv">
  <h2>New Device:</h2>
  <label for="category">Category: </label>
  <select name="category" id="category" #deviceCategoryId>
    <option
      *ngFor="let category of categories"
      [value]="category.id"
      [selected]="category === categories[0]"
    >
      {{ category.name }}
    </option>
  </select>
  <label for="color">Color: </label>
  <input type="text" id="color" placeholder="color" #deviceColor />
  <label for="partNumber">Part Number: </label>
  <input
    type="text"
    id="partNumber"
    placeholder="partNumber"
    #devicePartNumber
  />
  <button
    class="add-button"
    (click)="
      create({
        CategoryId: +deviceCategoryId.value,
        color: deviceColor.value,
        partNumber: +devicePartNumber.value
      })
    "
  >
    <!-- ;
      deviceCategoryId.value = '';
      deviceColor.value = '';
      devicePartNumber.value = ''
    " -->
    Add Device
  </button>
  <app-messages></app-messages>
</div>
